
.disabled-step .form-wrapper{ position: relative; display: none; }
.checkout-content h3 a { visibility: hidden;}
.checkout-content .summary-wrapper { visibility: hidden;}
.checkout-content.enabled-step .summary-wrapper{ visibility: visible; }
.checkout-content.enabled-step h3 a { visibility: visible;}

#checkout .wait-for-payment { display:none; }
