
.disabled-step .form-wrapper{ position: relative; display: none; }
.checkout-content h3 a { display: none; }
.checkout-content .summary-wrapper { display: none; }
.checkout-content.enabled-step .summary-wrapper{ display: block; }
.checkout-content.enabled-step h3 a { display: inline-block; }

#checkout .wait-for-payment { display:none; }
