<%= render :partial => 'sub_menu' %>
<% content_for :page_actions do %>
  <li><%= button_link_to Spree.t(:back_to_themes_list), session[:return_to] || native_admin_template_themes_url, :icon => 'icon-arrow-left' %></li>
  <% if can?(:config, Spree::TemplateTheme) %>
    <li id="new_template_theme_link">
    </li>
  <% end %>
<% end %>
<%= render :partial=>'theme_tabs',:locals=>{:current=>"AssignResource"}%>
<div class="">
<%= render :partial=>'layout_tree2', :locals=>{:theme=>@template_theme, :options=>{:configurable=>true,:show_assigned_resource=>true} }%>
</div>
