<% content_for :page_actions do %>

  <%= render :partial => 'page_actions_for_config' %>

<% end %>
<div id="page_layout_wrapper">
      <%= render :partial=>'spree/admin/page_layouts/config_resource', :locals=>{ :page_layout=> @template_theme.original_page_layout_root } %>
</div>

<%= render :partial=>'theme_tabs',:locals=>{:current=>"ConfigResource"}%>
<div class="">
<%= render :partial=>'layout_tree_for_config', :locals=>{:theme=>@template_theme, :current=>"ConfigResource" }%>
</div>
