<% if !@client_info.is_mobile %>
  <% # notice: it is called by client page. @current_page is from theme tag
     @template_themes = Spree::TemplateTheme.native.published
     # first is designable now, hide theme_selection if @template_themes is blank
  %>
  <% if @template_themes.present? %>
    <div id="embeded_content_wrapper" class="">
      <div class="theme_selection_wrapper">
        <%=render :partial=>"theme_selection", :locals=>{:template_themes=>@template_themes, :selected=>@current_page.theme} %>
      </div>
    </div>
    <div id="embeded_content_wrapper_icon" class="">
      <%= Spree.t( :template_themes) %>
    </div>
  <% end %>
<% end %>
