/*
 *= require spree_theme_base
 *= require jquery.ui.all
 *= require jquery.layout
 *= require normalize
 *= require interface
*/

#editor_panel
{height:260px;
}
#page_layout_tree_inner
{
  height:200px;
  overflow: auto;
}
.param_value_editor
{
  height:200px;
  overflow: auto;  
}
.editor-header
{
  background-color: #B6B6B6;
}


.block
{
    border: solid 1px gray;
    padding: 2px;
    margin: 2px;
}

.menu li{
  padding:5px;
  float:left;
}
ul.tabs{list-style:none; margin:0;padding:0;}
.tabs li{
  padding:5px;
    float:left;
}

#editors span.option_item
{
  display:inline-block;
  width:170px;
}

#editors div.pv{
    padding:2px;
    
}
#editors span.pv-name
{
  display:inline-block;
  width:150px;    
}

#editors input.pv-psv, select.pv-psv
{
  display:inline-block;
  width:120px;    
}
#editors input.pv-pv
{
  display:inline-block;
  width:120px;    
}
#section_select_dialog ul
{
  list-style:none; margin: 0; padding: 0;
}
#section_select_dialog ul.titles li
{
  white-space:nowrap;
}

#section_select_dialog li.selected
{
  background-color: silver;
}
#section_select_dialog .details .selected
{
  display:block;
}
#section_select_dialog .details div
{
  display:none;
}

#editors label, #menu_and_template label
{
  margin:0;
  padding:0;
  display:inline;
}
#publish ul
{
  margin:0;
  padding:0;
}

#editor_panel a.selected
{
  background-color: #22A7F2;
  color: white;
  font-weight: bold;
}

