tmp
vendor/cache
public/spree
log
db/schema.rb
log/*.log
public/assets
db/sample/spree/payment_method.rb
db/sample9
.rvmrc
.idea/
.bundle
config/deploy
config/deploy/*
Gemfile.lock
Gemfile.lock
public/shops/development
public/shops/test
config/deploy/production.rb
db/full_sql
rdoc
.settings
.project
