tmp
vendor/cache
public/spree
log
db/schema.rb
log/*.log
public/assets
db/sample/spree/payment_method.rb
db/sample9
.rvmrc
.idea/
.bundle
config/deploy
config/deploy/*
Gemfile.lock
public/shops/staging
public/shops/development
public/shops/aliyun_development
public/shops/test
public/*.dalianshops.com
config/deploy/production.rb
db/full_sql
rdoc
.settings
.project
.ruby-version
db/*.sqlite3
*.bak
.byebug_history
