       body{
           background-color: #EFEFEF;
           font-size: 90%;
       }
       
       .admin-box{
       }
       .admin-container{
           margin: 250px auto 0  auto;
           width: 500px;
           background-color: #73CD54;
           padding:15px 40px;
       /* copy from http://www.cnblogs.com/leejersey/p/3187039.html */
            -moz-border-radius: 15px; /* Firefox */
            -webkit-border-radius: 15px; /* Safari 和 Chrome */
            border-radius: 15px; /* Opera 10.5+, 以及使用了IE-CSS3的IE浏览器 */
             
            -moz-box-shadow: 5px 5px 8px #000; /* Firefox */
            -webkit-box-shadow: 5px 5px 8px #000; /* Safari 和 Chrome */
            box-shadow: 5px 5px 8px #000; /* Opera 10.5+, 以及使用了IE-CSS3的IE浏览器 */
             
       }
       .admin-container-title{
           text-align:center;
           color:white;
       }
       
       .admin-container form{
           margin: 0  0 0 115px;
       }
       .admin-container label{ color:white; }
       .admin-container input[type='submit']{ 
         color: #009DE6;
         /* background-color: #009DE6;
           border: solid 1px  #009DE6;
         */
         padding: 2px 25px;
       }
