
.sg_cover /* for interface.js*/
{
  position:absolute !important;
  z-index:99 !important;
  background:white !important;
  margin:0px !important;
  padding:0px !important;
  display:block;
  float:none !important;
  border:0 !important;
  font-style:none !important;
  outline:0 !important;
  vertical-align:baseline !important;
  text-align:left !important;
}
.sg_selected{
  background-color:#0F0 !important;
  background-image:none !important;
}
.sg_suggested{
  background-color:#FF5 !important;
  background-image:none !important;
}
.sg_border{
  position:absolute !important;
  z-index:99 !important;
  background:white !important;
  background-color:orange !important;
  margin:0px !important;
  padding:0px !important;
  display:block !important;
  float:none !important;
  border:0 !important;
  font-style:none !important;
  outline:0 !important;
  vertical-align:baseline !important;
  text-align:left !important;
}
.sg_bottom_border{
  font-size:10px !important;
  padding:2px 0px 2px 5px !important;
}
.sg_border_red{
  background-color:#6495ED !important;
  filter: alpha(opacity=50); /* internet explorer */
  -khtml-opacity: 0.5;      /* khtml, old safari */
  -moz-opacity: 0.5;       /* mozilla, netscape */
  opacity: 0.5;           /* fx, safari, opera */
}
.sg_highlighted{
}
.sg_rejected{
  background-color:#F00 !important;
  background-image:none !important;
}
