<%# ui-layout-south required by jquery.layout 
  # sg_ignore, SelectorGodget ignore it.
%>
<div id='editor_panel' class="clear-block ui-layout-south sg_ignore">
  <%=render :partial=>'layout_editor'%>
</div>
