<%# ui-layout-south required by jquery.layout 
  # sg_ignore, SelectorGodget ignore it.
%>
<div id='editor_panel' class="clear-block ui-layout-south sg_ignore">
  <a href="javascript:void(0)" class="close">X </a>
  <%= render 'layout_editor' %>
</div>
<div id='editor_panel_icon'> editor </div>