<% #local params: 
   #  theme: theme 
   #  page_layout: current page_layout  
   #  page_layouts: whole page_layout tree
   #  options: page_layouts_with_resource
  page_layouts||= page_layout.self_and_descendants
  children = page_layouts.select{|pl| pl.parent_id == page_layout.id} 
  options ||={} 
  page_layouts_with_resource = options[:page_layouts_with_resource]
%>
<% if children.present? %>
  <ul>
    <% for child in children %>
    <li id="<%= child.id %>" rel="taxon">
      <%= link_to_function(child.title, "$('#selected_page_layout_id').val(#{child.id});",
        {"class"=>(child.id==selected_id ? "selected":""),"data-lid"=>child.id})
      %>
      <% if page_layouts_with_resource.include? child %>
      <%   
           child = page_layouts_with_resource.select{|pl| pl.id==child.id}.first
      %>   
        <% child.section_pieces.first.wrapped_resources.each_with_index{| wrapped_resource,idx | %>
          <%  
              assigned_resource_id = theme.assigned_resource_id(wrapped_resource.resource_class, child, idx)   
              onchange = "ajax_post('#{update_config_admin_template_theme_page_layout_path(theme,child)}',this.form.id);"
          %>  
            <%= select_tag "assigned_resource_ids[#{child.id}][]",options_from_collection_for_select(wrapped_resource.resource_class.resourceful(theme ), :id, :name, assigned_resource_id ), prompt: (Spree.t(:select)+wrapped_resource.resource_class.model_name.human), onchange: onchange %>
        <% } %>
      <% end %>
      <%= render :partial => 'page_layout', :locals => { :theme => theme, :page_layout=>child, :page_layouts=>page_layouts, :selected_id=>selected_id, :options=>options } %>
    </li>
    <%end%>
  </ul>
<% end %>
