<div class="row">
  <div class="alpha twelve columns">
    <div data-hook="page_translate" >
    <%= f.field_container :attachment do %>
      <%= f.label :attachment %> <span class="required">*</span><br />
      <%= f.file_field :attachment, :class => 'fullwidth title' %>
      <%= f.error_message_on :attachment %>
    <% end %>

    </div>
  </div>
</div>

