<div class="posts" data-hook="post-categories-show">
  <%= render :partial => 'spree/shared/preview', :collection => @posts, :as => :post %>

  <br class="clear"/>

  <%= paginate @posts %>

</div>

<% content_for :sidebar do %>
  <%= render :partial => 'spree/shared/sidebar' %>
<% end %>
