*.rbc
*.sassc
.sass-cache
capybara-*.html
.rspec
/.bundle
/vendor/bundle
/log/*
/tmp/*
/db/*.sqlite3
/public/system/*
/coverage/
/spec/tmp/*
**.orig
rerun.txt
pickle-email-*.htmlspec/dummy/log
spec/dummy
spec/dummy/public/spree/*
spec/dummy/db/schema.rb
spec/dummy/log/*
spec/dummy/tmp/*
spec/dummy/log
spec/dummy/tmp
/.rvmrc
/.project
/Gemfile.lock
.idea/

