
   .admin-container{
       margin: 150px auto 0  auto;
       width: 500px;
   }

   .admin-container-title{
       text-align:center;
       color:white;
   }


   .new_spree_user{
     .form-group{
       text-align: left;
     }
   }
