
<% # local param: website
%>
<table>
  <tr>
    <th> default index page </th><th> using theme </th>
    <td><%= grouped_collection_select("website", "index_page", @menu_roots, :descendants, "name", "id", "name")%>  
    </td>    
    <td><%= select "website","theme_id", @themes.collect{|tt| [ tt.title, tt.id ] } %>
    </td>
  </tr>

</table>

