

// IE7 Hacks
html.ie7 {

  // Fix italic font
  body {
    font-style: normal;
  }
  
  // Fix display inline-block
  ul.inline-menu li {
    _zoom:1;*display:inline;
  }
  
  // Fix white border around filter-actions 
  .filter-actions {
    margin-bottom: -45px;
    span.or {
      border-width: 5px;
      margin-left: -10px;
      margin-right: -10px;
    }
  }

  // Fix legend align center 
  legend {
    display: table;
  }

  // Sidebar align with fieldsets 
  #sidebar {
    margin-top: 27px;

    .sidebar-title span {
      margin-left: 7px;
    }
  }

}