<table>
  <tr>
    <td>

      <center>
        <h1 class="center">
          <%= Spree.t('test_mailer.test_email.greeting') %>
        </h1>
      </center>

    </td>
    <td class="expander"></td>
  </tr>
</table>

<table>
  <tr>
    <td>

      <p class="lede">
        <%= Spree.t('test_mailer.test_email.message') %>
      </p>

      <p>
        <%= Spree.t('test_mailer.test_email.thanks') %>        
      </p>

    </td>
    <td class="expander"></td>
  </tr>
</table>
